{% load static %}
<header>
  <div class="header-left">
    <div class="logo"><a href="{% url 'landing_page' %}">AuroraMart</a></div>
    <div class="header-actions">
      <a href="{% url 'login' %}" class="login-btn">Login</a>
    </div>
  </div>

  <nav id="main-nav-menu">
    {% for item in MENU_DATA %}
    <div class="category-item">
      <a href="#" class="nav-category-link">
        {{ item.category.category_name }}
      </a>
      <div class="nav-bar-panel">
        <div class="view-all-column">
          <a
            href="{% url 'product_list' %}?category={{ item.category.id }}"
            class="view-all-link"
          >
            View All {{ item.category.category_name }}
          </a>
        </div>
        <ul class="subcategory-list">
          {% for subcat in item.subcategories %}
          <li>
            <a href="{% url 'product_list' %}?subcategory={{ subcat.id }}">
              {{ subcat.subcategory_name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </nav>
</header>
