{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AuroraMart | Your Shopping Cart</title>
    <link rel="stylesheet" href="{% static 'onlinestore/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'onlinestore/css/product_style.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'onlinestore/css/cart_style.css' %}"
    />
  </head>
  <body>
    {% include 'onlinestore/_navBar.html' %}

    <main class="cart-content">
      <h1 class="page-header">Your Shopping Cart</h1>

      {% if cart_items %}
      <div class="cart-container">
        <table class="cart-table">
          <thead>
            <tr>
              <th>Item</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart_items %}
            <tr>
              <td>
                <h3 class="product-name">
                  <a
                    href="{% url 'onlinestore:product_detail' item.product.pk %}?next_page=cart_detail"
                  >
                    {{ item.product.product_name }}</a
                  >
                </h3>
              </td>

              <td>${{ item.product.unit_price }}</td>
              <td>
                <form
                  action="{% url 'onlinestore:add_to_cart' product_pk=item.product.sku_code %}"
                  method="post"
                  class="quantity-form"
                >
                  {% csrf_token %}
                  <input type="hidden" name="next_page" value="cart_detail" />
                  <input type="hidden" name="update" value="True" />

                  <input
                    type="number"
                    name="quantity"
                    class="quantity-input"
                    value="{{ item.quantity }}"
                    min="0"
                    max="{{ item.product.quantity_on_hand }}"
                  />
                  <button type="submit" class="update-cart-btn">Update</button>
                </form>
              </td>
              <td>
                <form
                  action="{% url 'onlinestore:remove_from_cart' product_pk=item.product.sku_code %}"
                  method="post"
                >
                  {% csrf_token %}
                  <button type="submit" class="remove-btn">Remove</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3" class="total-row">Grand Total:</td>
              <td class="total-row" style="text-align: right">
                ${{ grand_total | floatformat:2 }}
              </td>
            </tr>
          </tfoot>
        </table>

        <div class="cart-summary">
          <form action="{% url 'onlinestore:checkout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="checkout-btn">
              Proceed to Checkout
            </button>
          </form>
        </div>
      </div>
      {% else %}
      <p class="no-results">Your cart is empty.</p>
      <a
        href="{% url 'onlinestore:product_list' %}"
        class="continue-shopping-btn"
        >Continue Shopping</a
      >
      {% endif %}

      {% if recommendations %}
        <div class="recommendations-section">
          <h3>Based on your cart, you might also like</h3>
          <ul class="recommendations-grid">
            {% for recommendation in recommendations %}
            <li class="recommendation-item">
              <a href="{% url 'onlinestore:product_detail' product_pk=recommendation.product_sku %}?subcategory={{recommendation.product_subcategory}}">
          {{ recommendation.product_name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div> 
        {% else %}
        <div class = "no-recommendation">
          <h3> No recommendations found</h3>
        </div>
        {% endif %}

      </div>

    </main>
  </body>
</html>
