{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AuroraMart | Welcome Home</title>
    <link rel="stylesheet" href="{% static 'onlinestore/css/style.css' %}" />
  </head>
  <body>
    {% include 'onlinestore/_navBar.html'%}

    <main class="home-content">
      <div class="lead-section">
        <h1 class="lead-title">Shop Everything, Find Your Passion.</h1>
        <p class="lead-subtitle">
          Explore thousands of products across all our categories above.
        </p>
      </div>
    </main>
  </body>
</html>
